/* Apply styles to the entire page */
body {
    background-color: tan;
    font-size: 16px;
}

/* Apply styles to the navigation bar/menu */
nav {
    background-color: #4b4b4b;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 0.9em;
    font-size: 0.9em;
}

nav a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 1.2em;
}

/* Apply styles to the header */
header {
    background-color: #4b4b4b;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 1.3em;
}

header h1 {
    font-size: 1.5em;
}

/* Apply styles to the main content */
.main {
    padding: 20px;
}


/* Apply styles to the image container */
.image-container {
    margin: 20px;
    padding: 10px;
    background-color: tan;
}

/* Style for the title of each image */
.image h2 {
    font-size: 1.2em;
    margin: 0;
    color: #000;
}

/* Apply styles to the iframes */
.image iframe {
    width: 100%;
    height: 80vh;
    border: none;
}

/* Style for the footnotes */
.footnote {
    font-style: italic;
    margin: 0;
    color: #1c1c1c;
    font-size: 1.1em;
    margin-bottom: 10px;
    margin-top: 5px;
}

/* Apply styles to the footer */
footer {
    text-align: center;
    background-color: #4b4b4b;
    color: #FFF;
    padding: 10px;
    font-size: 1.1em;
}

.image-container#image1_5 iframe {
    width: 100%; /* Adjust the width as needed */
    height: 55vh; /* Maintain the aspect ratio */
}
